[2015-11-15 06:20] dimohamdy opened #1 "Create Custom segue"
create custom segue to can use SwipeController from storyboard direct

[2015-11-15 06:55] Esqarrouth commented on #1
hello, I haven't used storyboard for more than a year and forgot this whole segue stuff. if you know them, please send a pull request or if you can direct me to an easy tutorial i can try to do it.

thanks

[2015-11-15 15:22] dimohamdy commented on #1
why you not using storyboard?

[2015-11-15 15:55] Esqarrouth commented on #1
http://codewithchris.com/xcode-using-storyboards-and-xibs-versus-creating-views-programmatically/

I like the advantages of coding, it gives me ultimate control over my viewcontrollers.

[2015-11-19 09:35] dimohamdy commented on #1
@goktugyil  thanks for this link , i will create custom segue and send pull request for  you soon

[2015-11-22 23:21] paperkettle opened #2 "Implementing Init"
Hi!  Any reason to leave init?(coder) unimplemented? Would this:

    public required init?(coder aDecoder: NSCoder) {
        super.init(coder: aDecoder)
    }

cause any problems?

[2015-11-23 00:05] Esqarrouth commented on #2
Personally not using storyboards to call this. If you are calling from storyboards and there needs to be additions, both in code and readme, feel free to implement them and send a pull request.

[2015-11-25 05:17] derickito commented on #2
The solution by @paperkettle works like a charm

[2015-11-25 17:55] Esqarrouth commented on #2
Feel free to send a pull request

[2015-12-07 07:28] Esqarrouth commented on #2
Fixed this in here:
https://github.com/goktugyil/EZSwipeController/commit/18427b8500d856c84db2880554fda34cfb9a09ee

[2015-12-07 07:28] #2 closed

[2015-12-07 07:29] Esqarrouth commented on #1
Hello @dimohamdy , Have you done anything about this?

[2015-12-07 09:30] dimohamdy commented on #1
@goktugyil  not yet

[2015-12-11 22:17] Esqarrouth commented on #1
Should I work on this or have you made some progress?

[2015-12-12 00:36] dimohamdy commented on #1
@goktugyil  you can work on it.

[2015-12-12 19:18] imran20487 opened #3 "Get callback when a page is shown"
Hi,
I wanted to know if there is any callback which is called when a Page shown?
i.e when the first page is shown or for the next pages when you swipe.
So that I can reload the data for that ViewController.
I have a functionality where you can pinch to change the font of the text and I want it to be reflected in other view controllers dynamically when I swipe to next ViewController(page).

[2015-12-12 20:20] Esqarrouth commented on #3
You can just call the viewdidappear method inside your viewcontrollers, that will work in most cases. Does that not work for your case?

[2015-12-13 09:28] imran20487 commented on #3
Yes, viewDidAppear() works. Thanks a lot.

[2015-12-15 14:43] #3 closed

[2015-12-17 23:10] goktugyil opened #4 "start location crash"
Line 175 crashes sometimes: currentStackVC = stackPageVC[stackStartLocation]

[2015-12-21 09:47] Jackson0111 opened #5 "work with existing viewcontrollers in storyboard?"
Is there a way to integrate EZSwipeController with existing view controllers in storyboard? I tried to do this but received an error when EZSwipeController tried to access view controllers. error : fatal error: unexpectedly found nil while unwrapping an Optional value

[2015-12-21 10:04] Esqarrouth commented on #5
Can you show me which line it was at?

[2015-12-21 10:20] Jackson0111 commented on #5
It was at the very first few lines of my first view controller.         captionTextField.delegate = self

[2015-12-21 10:41] Esqarrouth commented on #5
I don't know what a captionTextField is. I need more info, this doesn't seem to be related to EZSwipeController

[2015-12-21 11:16] Jackson0111 commented on #5
Everything in EZSwipeController seems to work fine, but the error was thrown when it tried to access my existing view controllers. captionTextField is a UITextField in one of my existing view controllers, as soon as I comment all IBoutlets everything works fine. I was just wondering if there was a way to integrate existing view controllers in storyboard with EZSwipeController. In the demo project,

[2015-12-21 22:53] Esqarrouth commented on #5
Are you trying to create this inside a small textfield? You can't use storyboard without making some edits but you can call from a button that is inside the storyboard

[2016-01-10 20:25] goktugyil opened #6 "Navigation bar animations"
https://github.com/andrehenrique92/AHPagingMenuViewController
Getting navigation bar from this repo and implementing here

[2016-01-24 02:54] Esqarrouth commented on #5
Hello, have you been able to solve this problem?

[2016-01-24 02:57] Jackson0111 commented on #5
No, I just used a UIPageViewController instead

[2016-01-24 02:59] Esqarrouth commented on #5
:cry:
If there is a way to solve the problem you had, let me know or send a pull request please

[2016-01-24 03:15] Jackson0111 commented on #5
I will try!

On Jan 23, 2016, at 10:59 PM, Goktug Yilmaz <notifications@github.com<mailto:notifications@github.com>> wrote:

[:cry:]
If there is a way to solve the problem you had, let me know or send a pull request please

—
Reply to this email directly or view it on GitHubhttps://github.com/goktugyil/EZSwipeController/issues/5#issuecomment-174245106.

[2016-01-27 09:17] cafuni opened #7 "Lock Swipe"
I would to lock the swipe and allow only the forward through the button...

[2016-01-28 22:39] Esqarrouth commented on #7
Hello, why do you want to lock the swipe? What is the use case?

[2016-02-04 21:26] AdventuresOfMar opened #8 "Question"
Is there a way to start the navigation from a middle panel. Just like how tinder's main view is in the middle and you swipe to either the left side or right side to get to other views

[2016-02-04 21:28] thellimist commented on #8
[code]

[2016-02-07 18:56] itsjc opened #9 "Navigate to another controller with button action"
Hey guys,

I'm new to swift programming and wanted to know how to perform a swipe segue to another view controller using the same concept of the left button and right button except my buttons aren't part of a navigation controller.

I have tried presenting the view controller when the user clicks the button but that destroys the whole swipe setup for obvious reasons.

Please advise.

Thank you!

[2016-02-07 23:55] Esqarrouth commented on #9
Have you tried stackoverflow?

[2016-02-07 23:57] itsjc commented on #9
I'm not sure what to search as I thought it would be something unique to this library. I basically need a button to do the equivalent of swiping left or swiping right depending on button.

Thanks for your help man

[2016-02-07 23:58] Esqarrouth commented on #9
You can just edit the library for the button to work like you intended. You need to go a little deep into the code but you can figure it out

[2016-02-07 23:59] itsjc commented on #9
Mind pushing me a bit more into the right direction?

First week programming in Swift and I'm not as fluent as you might think I am.

[2016-02-08 09:29] Esqarrouth commented on #9
You should just find some tutorials and implement what you see. I don't think you should try to do complex user experiences.

[2016-02-08 09:29] #9 closed

[2016-02-08 12:18] itsjc commented on #9
Is that a joke, lol?

[2016-02-08 21:59] AdventuresOfMar commented on #8
thanks so much @thellimist , one more quick question for you. Is there a way to have a middle icon image instead of text title?

[2016-02-08 23:03] Esqarrouth commented on #9
No, these stuff are complicated and buggy because Apple didn't make it very easy to make these interactions unfortunately

[2016-02-08 23:06] Esqarrouth commented on #8
Yeah,

func navigationBarDataForPageIndex(index: Int) -> UINavigationBar

in here, just like how the example puts images as buttons, you can put images instead of the string

[2016-02-08 23:06] #8 closed

[2016-02-23 07:12] gaganpsinghkrishnais opened #11 "navigatiob bar issue"
Ass all my view controllers have buttons on then and after passing the View controllers the newly crety view didnt contain their navigation bars included

[2016-02-23 19:42] Esqarrouth commented on #11
Can you show screenshots?

[2016-02-24 07:00] gaganpsinghkrishnais commented on #11
![screen shot 2016-02-24 at 12 28 17 pm](https://cloud.githubusercontent.com/assets/16206552/13277900/2f31bb70-daf2-11e5-8f79-cb6c84d8a46f.png)
this is the navigation bar show when i use the default navigation function. But as i import views they have their own navigation bars those bars are not displaying.

[2016-02-25 04:23] gaganpsinghkrishnais commented on #11
thanks for this awesom library..it was totally my fault that this issue is arriving .....its working perfectly now thanks again...

[2016-03-05 12:58] edenfisher opened #12 "Single navigation bar"
It would be really nice to have a single navigation bar which can be dynimically change from view controller to view controller(In cases you have shared details on the navigations bar and it would be weird from one navigation bar to a very similar another one)
thanks

[2016-03-05 18:20] andrewfashion opened #13 "Pushing to another view controller?"
Is it possible to push to another view controller not in the stack? Trying to access the main nav bar to do so, but finding it difficult. Thank you!

[2016-03-05 19:40] Esqarrouth commented on #13
So its usually

app->ezswipe
ezswipe->vc1
ezswipe->vc2
ezswipe->vc3

you can make those vc's navigation controllers and make them work like a stack. Is this what you want?

[2016-03-05 19:41] #11 closed

[2016-03-05 19:42] andrewjedi commented on #13
I have 4 VC's in the stack, but however on the last VC. I want to push to the "MessagesVC" -- but I do not want it in the stack, because they should only be able to access the MessagesVC if they click on the persons name. I don't want it to be a modal though.

Is this possible at all? I hope this makes sense

[2016-03-05 19:44] Esqarrouth commented on #12
https://github.com/goktugyil/EZSwipeController/issues/6
Is this the one you mean?

[2016-03-05 19:45] Esqarrouth commented on #13
app->ezswipe
ezswipe->vc1
ezswipe->vc2
ezswipe->vc3
ezswipe->navigation controller->vc4->messagesvc

[2016-03-05 19:46] andrewjedi commented on #13
See it would be amazing if I could make it push to another VC when they click the users name to chat. But obviously I do not want it in the EZSwipe stack, otherwise they would just be able to swipe to that controller without having to click a username.

Thank you!

<img width="556" alt="screen shot 2016-03-05 at 11 45 35 am" src="https://cloud.githubusercontent.com/assets/7296429/13549999/d2bf618e

[2016-03-05 19:49] edenfisher commented on #12
Not quite. I might not explained myself verywell.
What i meant is that the navigation bar will be static except some icons will be drawn and removed dynamiclly.
For exmple: I might have a static menu button that will slide down whan clicked.
this button will stay staticlly in the navigation bar and some indications for the next and previous page will be in the right and left of the nav bar(dynaimc

[2016-03-05 20:06] andrewjedi commented on #13
Is this doable? Thank you!

[2016-03-06 02:14] Esqarrouth commented on #13
You can make that with just pushing inside the navigationviewcontroller. Someone already implemented a similar one, I'll let him know.

[2016-03-06 02:14] andrewjedi commented on #13
Yea I've been trying :-/ I can't figure it out :(

[2016-03-06 02:22] stanchiang commented on #13
you can look into parent/child view controller patterns. i did this before for a similar situation. it's kinda hacky but basically you can just switch to another view controller.

no idea how that effects memory or vc stack in on a performance basis but it works just fine for me in general.

quick example
https://gist.github.com/tomohisa/2897676

[2016-03-06 03:06] andrewjedi commented on #13
Will look into this right now, I will report back :)

[2016-03-10 07:03] arvindravi commented on #7
Hey,
I have three VC's, VC2 being the homeVC, so a person can swipe left or right to go to VC1 or VC3.
VC3 has a tableView.

On VC3, swiping right would take me to VC2, and swiping left would show there's nothing after it. I would like to disable this left swipe so I can implement tableView's cell editing options. Is this possible?

[2016-03-11 07:44] Esqarrouth commented on #7
Yes is is possible. There is something that allows you to stop that last swiping by locking the last screen. But you need to search and find it in stackoverflow, I don't remember the name of it

[2016-03-12 14:41] arvindravi commented on #7
@goktugyil Isn't that library specific? Could you point me in the right direction, if its not?

[2016-03-20 21:32] gfpoliva commented on #7
Did anyone figure it out?

[2016-03-23 16:45] nsekhon opened #14 "Programmatically navigating to different pages"
Is there a way to go to different pages without swiping? I tried this method setViewControllers:direction:animated:completion:
but it crashes.

Thanks, Neil

[2016-03-24 08:26] Esqarrouth commented on #14
Did you try looking at the code of the buttons? Or is that not what you want?

[2016-03-30 15:55] FCZLumpy opened #17 "Swift code"
Does anyone have Swift version using of library?

[2016-03-30 15:57] #17 closed

[2016-03-30 15:58] FCZLumpy commented on #17
Sorry, my mistake

[2016-04-01 06:55] gaganpsinghkrishnais opened #19 "How to remove bounces in EZSwipeController?"
#Every thing is working fine in my end just need to check weather is it possible to remove bounce on swipe action for viewcontrollers.

[2016-04-01 07:06] Esqarrouth commented on #19
Remove bounces like when you try to swipe more than you can?

[2016-04-01 07:42] gaganpsinghkrishnais commented on #19
Greetings,

[2016-04-01 12:56] Esqarrouth commented on #19
[code]

Try messing with these parameters inside the code. It was something simple like that but I don't remember what

[2016-04-04 04:15] gaganpsinghkrishnais commented on #19
ok i’ll check it. anyways thanks for your help.

[2016-04-04 20:07] lalamm opened #20 "Autolayout"
Hi!

How should I use this with autolayout?

I've tried to pin both to edges and/or to top/bottom layout guides for my viewcontroller but it's view is still outside the window. An example would be great!

Thanks again

[2016-04-06 09:46] Esqarrouth commented on #7
I've created a question for this in StackOverflow, hopefully someone answers there:

http://stackoverflow.com/questions/36447319/how-to-lock-swipe

By the way, in my app I didn't lock swipe but added an edit button at the top right corner and after clicking that button, tableviews cell editing options become available:

https://itunes.apple.com/tr/app/insta-archive-save-instagram/id1048488080?mt=8

[2016-04-06 09:46] #7 closed

[2016-04-06 09:58] Esqarrouth commented on #1
I couldn't find time to work on this, this is open to anyone who wants to work on the feature

[2016-04-06 09:59] Esqarrouth commented on #5
http://stackoverflow.com/questions/tagged/ezswipecontroller

You can ask your question here if you want to. If you solved the problem please send a pull request. Thanks!

[2016-04-06 09:59] #5 closed

[2016-04-06 10:02] Esqarrouth commented on #12
Sorry for the late reply, missed this. Yes that is quite possible, to do that, instead of storing navigation bars SwipeController can check in this method whenever its going to generate a new nav bar: navigationBarDataForPageIndex.

But this feature might need some work, if you like to work on it, please do and send a pull request. Thanks

[2016-04-06 10:03] Esqarrouth commented on #13
I guess this issue is solved

[2016-04-06 10:03] #13 closed

[2016-04-06 10:04] Esqarrouth commented on #14
http://stackoverflow.com/questions/tagged/ezswipecontroller

You can ask your question here if you want to. If you solved the problem please send a pull request. Thanks!

[2016-04-06 10:04] #14 closed

[2016-04-06 10:05] Esqarrouth commented on #19
http://stackoverflow.com/questions/tagged/ezswipecontroller

You can ask your question here if you want to. If you solved the problem please send a pull request. Thanks!

Also check this out: https://github.com/goktugyil/EZSwipeController/issues/7

[2016-04-06 10:05] #19 closed

[2016-04-06 10:06] Esqarrouth commented on #20
Hello

http://stackoverflow.com/questions/tagged/ezswipecontroller

I personally do not use autolayout for this but you can ask your question here if you want to. If you solved the problem please send a pull request. Thanks!

[2016-04-06 10:06] #20 closed

[2016-04-12 16:55] blazierkyle commented on #5
I had run into this issue as well. I believe it is because Jackson and I both have previously made ViewControllers in a Storyboard file, and are now trying to use them in the EZSwipeController. However, if you have objects that were outletted to the ViewController class, since it hasn't been instantiated from the storyboard, it is nil and therefore causes a crash.

To fix this, in my custom subcla

[2016-04-13 11:47] LadyDeveloper opened #21 "Error"
After update to version 0.5, I have this issue :

![schermata 2016-04-13 alle 13 46 15](https://cloud.githubusercontent.com/assets/11472348/14492234/45a7da12-017e-11e6-84b8-79b177f8110c.png)

[2016-04-13 11:57] #21 closed

[2016-04-13 12:08] cristinaITdeveloper commented on #21
Sorry, but I have now seen that the 0.5 version is for Swift 2.2

[2016-04-13 12:45] Esqarrouth commented on #21
Yes, you can download and use 0.4 if you want to use an older version of Swift

[2016-04-13 13:31] cristinaITdeveloper commented on #21
I use 0.4 version, but there is another problem.
I have create a class that inherit from your controller and use it two times in my app in this way :

[code]

When I use the first time, it works, but in the second time app crashes when I tap on bar button:

[code]

How can I solve this problem?

[2016-04-13 18:18] Esqarrouth commented on #21
For this type of questions please use, stackoverflow 'ezswipecontroller' tag

[2016-04-20 09:12] minakshibh opened #22 "Navigation to view from my custom button."
I am able to implement your library in my project. but now i figure out one problem, I don't want navigation bar in my project and want to add custom button for navigating form one view to another just like we do by swiping e.g same as snapchat is doing on button clicks.

[2016-04-20 12:54] cacalialia opened #23 "PageControl not showing dots"
Hi,

can you give an advice how to implement PageControl to show witch page is opened? I have tried to add  pageControl configuration the by adding this code in AppDelegate.swift file

[code]

but no success

[2016-04-21 06:03] cacalialia commented on #23
I have found the solution by my self.
Two methods was needed:

[code]

[2016-04-22 12:35] Esqarrouth commented on #22
https://github.com/goktugyil/EZSwipeController#move-to-new-page
https://github.com/goktugyil/EZSwipeController#hide-navigation-bar

[2016-04-22 12:36] #22 closed

[2016-04-22 12:37] Esqarrouth commented on #23
https://github.com/goktugyil/EZSwipeController#extra-settings

[2016-04-22 12:37] #23 closed

[2016-05-02 04:46] BlackRussian opened #24 "Not Working When launched in Landscape"
There is an issue when launched in landscape the pageViewController width is not streaching to full screen.

[2016-05-02 10:10] Esqarrouth commented on #24
Yeah its not exactly for landscape. But should be compatible with some small changes

[2016-05-04 20:45] dineshthangasamy commented on #24
Worked for me after i did something like this
        pageViewController.view.frame = CGRect(x: 0, y: 0, width: UIScreen.mainScreen().bounds.width, height: UIScreen.mainScreen().bounds.height)

inside setupPageViewController and didRotateFromInterfaceOrientation.

Should be a very easy fix even if u have to change the Y if u have a status bar.

[2016-05-09 01:19] BlackRussian commented on #24
Thanks @dineshthangasamy worked like a charm. I also added the code to willRotateFromInterfaceOrientation. because i was having some weird transition.

@goktugyil should consider including in your build

[2016-05-09 11:50] Esqarrouth commented on #24
Feel free to send a pull request

[2016-05-10 15:54] dineshthangasamy commented on #24
I ended up doing this     public func setFrameForCurrentOrientation(){
        pageViewController.view.frame = CGRect(x: 0, y: 0, width: self.view.frame.size.width, height: self.view.frame.size.height)
    }

called this inside setupPageViewController and didRotateFromInterfaceOrientation - will open a PR soon

[2016-05-11 09:27] xiaoao opened #26 "add swipe up and down directions"

[2016-05-26 22:05] sebyddd commented on #11
@gaganpsinghkrishnais, I know you fixed this but just in case others stumble upon this issue:

Make sure to embed your EZSwipeController in a UINavigationController.

[2016-06-04 15:58] gkuhlmann14 commented on #13
hey @andrewfashion did you end up figuring this out?

I'm having a similar issue as you, basically when I do what @goktugyil recommended:

app->ezswipe
ezswipe->vc1
ezswipe->navigation controller->vc2->messagesvc

The nav controller in vc2 isn't using the same nav bar when I push and pop to the nav stack
When I use that design there are TWO nav bars in the view, the top bar is the EZSwipe nav bar

[2016-06-04 19:41] gkuhlmann14 opened #27 "Turning EZSwipeController into a UINavigationController"
I ran into a problem with pushing and popping VC's in the EZSwipe hierarchy.

I've seen some suggestions on here with embedding the EZSwipe in a UINavigationController. I've tried that and it seems to not play nicely with the EZSwipe nav bar. What I think would be really nice is if we actually made the EZSwipe itself a nav controller, and make it smart enough to know which VC in the stack had a VC

[2016-06-04 23:44] Esqarrouth commented on #27
https://github.com/goktugyil/EZSwipeController/issues/13

this might help out

[2016-06-05 00:06] gkuhlmann14 commented on #27
I saw that, but couldn't end up getting:

app->ezswipe
ezswipe->profileVC
ezswipe->navigation controller->messagesVC

to work nicely.

How I've got it going now, is I've put my EZSwipe VC in a nav controller. Then, in the standard swipe mode I use the EZswipe nav bar, and HIDE the navigation controller nav bar. Then when a user selects a message, I unhide the navigation controller nav bar and push

[2016-06-09 18:34] kuko91 opened #28 "disable swiping"
Can I disable default swiping and manage it only with the buttons?
Thanks!

[2016-06-10 02:38] Esqarrouth commented on #28
Yes you can

[2016-06-14 16:01] ronaldalfaro commented on #28
Can you show me how can get this? Thanks for your reply.

[2016-06-14 18:02] Esqarrouth commented on #28
If you need help, use Stack Overflow. (Tag 'ezswipecontroller')
or search other issues before you

[2016-06-14 18:02] #28 closed

[2016-07-11 02:33] katriciab opened #29 "Swift 3.0 Migration"
It would be great to have a Swift 3.0 migrated version.

[2016-07-20 14:19] ignotusverum commented on #29
https://github.com/goktugyil/EZSwipeController/pull/30

[2016-08-04 06:42] DamonChen117 opened #31 "Add page indicator"
Add page indicator as iOS main screen.

[2016-08-04 07:41] DamonChen117 opened #32 "Crash when swaping and calling moveToPage at the same time."
**\* Assertion failure in -[UIPageViewController queuingScrollView:didEndManualScroll:toRevealView:direction:animated:didFinish:didComplete:], /BuildRoot/Library/Caches/com.apple.xbs/Sources/UIKit/UIKit-3512.60.12/UIPageViewController.m:2028

[2016-08-07 18:52] Esqarrouth commented on #32
We could add a little control for that I think, why are you calling them at the same time?

[2016-08-07 18:52] Esqarrouth commented on #31
Didn't understand

[2016-08-08 02:55] DamonChen117 commented on #32
Actually, It is the user doing it at the same time. There is a "Next" button on the UI, which calles "moveToPage". While the ui is moving one page to another page, click the "Next" button, app crashes.
It's seems there is no event such as "moving started/ended", I cannot disable the button as a workaround.

[2016-08-09 03:23] DamonChen117 commented on #31
I mean UIPageControl, some small dots which indicate current page index.

[2016-08-20 03:50] sheldonshi commented on #26
just change

`pageViewController = UIPageViewController(transitionStyle: .Scroll, navigationOrientation: .Horizontal, options: nil)`
to

`pageViewController = UIPageViewController(transitionStyle: .Scroll, navigationOrientation: .Vertical, options: nil)`

[2016-08-30 10:47] Kareemarab opened #33 "Problem with View Controllers"
Any UI design or work I do directly on one of the view controllers in the storyboard doesn't show up when compiled. It seems that i cant do any work outside the actual .Swift file. what's going on?

    extension INTNavigationController: EZSwipeControllerDataSource {
        func viewControllerData() -> [UIViewController] {

            let feedVC = FeedViewController()
            //feedVC.view.b

[2016-08-30 19:35] Esqarrouth commented on #33
I don't work with storyboard so I can't test this. But its probably about init from storyboard method.

[2016-09-01 17:32] blazierkyle opened #34 "Nav bar icon discoloration"
Hi,

I really enjoy this project- thanks for making a really useful tool!

I have recently noticed a strange issue with the icons in my navigation bar, which are transparent per iOS standards, are in some cases becoming tinted blue. I have observed this behavior seemingly randomly after alerts are presented to the user.

Any thoughts on why this could happen or recommendations for a fix?

Thanks!

[2016-09-04 19:55] Esqarrouth commented on #34
Does this happen in your project or does it happen in the example project too?

[2016-09-05 04:41] blazierkyle commented on #34
I haven't used the example project much, but am noticing it in my project

[2016-09-05 05:53] Esqarrouth commented on #34
Maybe you are somehow changing the tint colors of navigation bar in your project?

[2016-09-06 18:53] blazierkyle commented on #34
I am tinting the navigation bar icons white, which is present until this happens and the blue coloring appears

[2016-09-13 15:26] chadpav commented on #33
Instead of init'ing your VC's directly you need to use the Storyboard to instantiate them.
e.g.
`storyboard().instantiateViewControllerWithIdentifier("FeedViewController")`

[2016-09-14 19:47] joaoAvno opened #35 "swift 3 Xcode8 beta6 Open class"
in last xcode version i got this error "Overriding non-open instance method outside of its defining module" in  setup method

override func setupView() {
        super.setupView()
        datasource = self
        navigationBarShouldNotExist = true
        view.backgroundColor = UIColor(red: 231/255, green: 231/255, blue: 231/255, alpha: 1)
    }

any idea how to solve this?

[2016-09-19 19:54] otymartin commented on #5
@blazierkyle  @goktugyil  can you provide code example? I did that and still get nil

[code]

[2016-09-19 20:47] otymartin commented on #7
@goktugyil Any solution for this?

[2016-09-19 21:21] otymartin commented on #19
@gaganpsinghkrishnais did you figure this out?

[2016-09-19 22:07] blazierkyle commented on #5
@otymartin Happy to hear you got it working!

[2016-09-19 22:22] otymartin opened #38 "Disable Bounces in First and Last View"
@goktugyil
I know this was discussed in #19 however a solution never came either from that issue or the corresponding stackoverflow issue.

I tried my best but failed. In `setupPageViewController` I did this however it disabled swiping all together.
[code]

There was this answer given on SOF but I didnt know how to implement it either.
http://stackoverflow.com/a/37541204/5329288

Would appreciate

[2016-09-19 22:28] otymartin commented on #5
@blazierkyle Thanks for the solution, i was so happy to finally get it to work. Im curious though if you ever managed to get rid of bounces in first & last VC. Thats what im struggling with now in #38

[2016-09-20 00:27] otymartin commented on #38
**SOLUTION**
Here is what I have working using the stackoverflow solution above

On `EZSwipeViewController` I get the scrollview and set EZSwipeController as the delegate

[code]

Then in the extension, I implement the `UIScrollViewDelegate` methods

[code]

[2016-09-20 00:29] otymartin commented on #19
Solved in #38

[2016-09-20 21:02] #38 closed

[2016-09-20 21:05] otymartin opened #39 "Feature Request: Make viewController appear over current context"
@goktugyil

I would like to be able to have my last view controller appear right above my second last so to maintain context. [Much like this example.](https://dribbble.com/shots/1643937-Snapchat-Design-Improvement-Idea)

![image](https://cloud.githubusercontent.com/assets/2222881/18688896/609430e2-7f54-11e6-8081-f7f02c8a4c25.png)

[2016-09-21 18:39] gkermo commented on #35
I had the same issue, I modified `EZSwipeController.swift`, setting the class as `open` instead of `public` ( c.f. : [SE-0117 Allow distinguishing between public access and public overridability](https://github.com/apple/swift-evolution/blob/master/proposals/0117-non-public-subclassable-by-default.md) ).

It solved the problem.

[2016-09-27 15:06] Esqarrouth commented on #39
I have no idea how to pull this off 😦

[2016-09-27 15:10] goktugyil opened #40 "Swift 3 version"
There are multiple ones, which one would you guys like to have implemented here?

https://github.com/goktugyil/EZSwipeController/pull/36
https://github.com/goktugyil/EZSwipeController/pull/37
https://github.com/goktugyil/EZSwipeController/tree/swift-3

[2016-09-27 15:12] Esqarrouth commented on #40
Also I'm no longer working on a project that is using this library, so its hard for me to maintain it. Would you like to maintain this @JFKingsley ?

[2016-09-27 17:02] otymartin commented on #39
@goktugyil Do you mean the animation or the functionality itself? I was just hoping for the functionality, the animation I can figure out😂

[2016-09-27 17:37] Esqarrouth commented on #39
So vc no 1 should appear on top of vc no 2?

[2016-09-27 18:46] otymartin commented on #39
@goktugyil
I have

[code]

[2016-09-27 18:53] Esqarrouth commented on #39
Maybe make a background vc identical to vc2? and put that behind vc3 too?

[2016-10-05 12:18] JFKingsley commented on #40
@goktugyil I'd be very happy to - I've found the project to be very useful in several of my recent projects.

[2016-10-06 06:55] Esqarrouth commented on #40
I've added you as collaborator, good luck 😁

[2016-10-08 22:10] JFKingsley commented on #40
Swift 3 support merged in!

[2016-10-08 22:10] #40 closed

[2016-10-08 22:11] JFKingsley commented on #35
This should be fixed in the latest release.

[2016-10-08 22:11] #35 closed

[2016-10-08 22:13] JFKingsley commented on #33
Chad seems to have got it - If there are any more issues related to the Library directly feel free to open them!

[2016-10-08 22:13] #33 closed

[2016-10-08 22:14] JFKingsley commented on #29
As of today, 0.6+ is now fully Swift 3 compatible!

[2016-10-08 22:14] #29 closed

[2016-10-08 22:15] JFKingsley commented on #26
Since Sheldon appears to have solved your issue, i'm going to close this. If any other issues related to the library come up feel free to reopen.

[2016-10-08 22:15] #26 closed

[2016-10-08 22:17] JFKingsley commented on #31
This should be entirely possible to implement using changedToPageIndex and a little VC magic. If you have any other issues related to the library, feel free to open a new one!

[2016-10-08 22:17] #31 closed

[2016-10-08 22:19] JFKingsley commented on #24
Since we appear to have working orientation support in currently, I'm going to close this. That said, if any other issues with framing come up feel free to open a new issue.

[2016-10-08 22:19] #24 closed

[2016-10-08 22:20] JFKingsley commented on #4
Since this doesn't appear to be recently replicable, i'm going to close it.

[2016-10-08 22:20] #4 closed

[2016-10-08 22:22] JFKingsley commented on #32
Is this still a current issue for you @DamonChen117? If so I'd be happy to take a closer look.

[2016-10-08 22:24] JFKingsley commented on #34
Hey @blazierkyle, is this issue still occurring? If so i'd be happy to take a closer look.

[2016-10-08 22:27] JFKingsley commented on #39
@otymartin Personally, from looking at the design you've provided it appears only the background transfers between the views.

Therefore I'd recommend making a container ViewController with your background view (In this case the video player of the flowers), and then stacking the EZSwipeController's view object on top via a function such as addChildViewController, making sure your SwipeController

[2016-10-09 21:56] blazierkyle commented on #34
Hi @JFKingsley - thanks for checking in. This issue is still occurring for me. I tried with several different variations of icons and while I observed this behavior less times with some icons than others, it still sporadically happens. It's very difficult to debug since I am unable to find a definitive pattern for it. I essentially only know that I've seen it only after alerts have been presented

[2016-10-10 08:45] Esqarrouth commented on #29
You want me to push the latest version to cocoapods?

[2016-10-10 17:27] YouKnowOJ opened #41 "Hiding UINavigationBar"
Is there a way to hide the navigation based on the current VC?

For example, I retrned 4 VCs : return [firstLevelVC, secondLevelVC, thirdLevelVC, fourthLevelVC] and I want the UINavigationBar to be present on all but the "thirdLevelVC"

[2016-10-11 01:27] JFKingsley commented on #41
Your best option seems to be utilising navigationBarDataForPageIndex. Simply return a standard UINavigationBar for all of your VC's except the third, where you can simply set visible to false.

[2016-10-11 01:51] JFKingsley commented on #34
@blazierkyle Okay, time to put my detective hat on. Could you provide me with a sample of the icons you're using that appear to trigger this behaviour, and additionally if said icons are in the "template" rendering mode, just to rule that out.

Thanks!
Jon

[2016-10-11 01:52] JFKingsley commented on #29
If you can that would be great!

[2016-10-11 02:27] YouKnowOJ opened #42 "dismissing VC"
I added the EZSwipeController to my project, but it is not my rootViewController. On the first VC returned (index 0), I added a custom button on the left side to dismiss the entire VC, but it does not work. I tried all these:

`self.navigationController!.popToRootViewController(animated: true)
  self.navigationController!.popViewController(animated: true)
  self.navigationController!.dismiss(anima

[2016-10-11 19:45] JFKingsley commented on #42
This seems like a rather unique use case.

From what I can tell, you have a navigation controller which you're then adding an EZSwipe to as a child, and then trying to pop the EZSwipeController from a child controller in the EZSwipeController?

A-la:
UINavigationController => MainViewController => EZSwipeController => [UIViewController]

If so, i'd have to take a closer look to ascertain why those

[2016-10-12 17:14] San-Jeevan opened #43 "Top layout guide is ignored on ipad"
I have view where top text is 5px below top layout guide.bottom.
But rendering on ipad (iphone is ok), top layout is ignored and my text ends up overlapping the phone clock.

If i exit the app by pressing home button and then open it again, suddenly the view is aligned correctly.

Here is  a picture
https://1drv.ms/i/s!AtIXCzway-dZx3in0H4hP0j8iZHx

[2016-10-12 17:55] San-Jeevan commented on #43
Workaround:

I added this

[code]

[2016-10-13 10:06] Esqarrouth commented on #29
Done!

[2016-10-19 23:26] liyukuang opened #44 "disable scroll when reaches the most left or right view controller"
It will be nicer if we can disable the scroll to make it more like snapchat style.

[2016-10-20 06:33] Esqarrouth commented on #44
Its more like tinder style atm

[2016-10-21 05:33] ghost commented on #44
Thanks for the great project, I have used EZSwipeController successfully in my own project, which has three viewcontrollers and the left most one is for message and the right most one is for system setting, so it's important for me to disable scrolling when it's in message or setting sections, because otherwise it's quite ugly.
I successfully achieved this by implementing the delegate of UIScrollV

[2016-10-25 06:06] DamonChen117 commented on #32
Not really, I simply use UIScrollview to implement swipe and page.

[2016-11-04 02:06] blazierkyle commented on #34
@JFKingsley My apologies on the late response. The icons are on "Default" rendering mode. I've attached the icons which are giving me an issue (white icons as required by iOS, so hard to see in this post, but they are below!). I tried with different icons and it seems to be occurring less frequently but I still occasionally observe it. The only additional debugging help I can provide is that it ty

[2016-12-06 19:59] darraghmckay commented on #4
I'm actually having the same bug on iOS 9.3
Might only be a single device not sure

Did you find a solution to this?

[2016-12-12 19:34] JFKingsley commented on #32
Okay, sure. Gonna close this for now then.

[2016-12-12 19:34] #32 closed

[2016-12-12 19:35] JFKingsley commented on #34
@blazierkyle Heya! Apologies for the wait, life decided to get in the way of my OSS endeavours..

Gonna take a look at the icons now, will update the thread when I have more info on what exactly this bug is..

[2016-12-26 17:51] HackShitUp opened #46 "UITableViewController?"
Can you initialize a UITableViewController in the ESwipeController?

[2016-12-27 07:32] HackShitUp commented on #44
@liyukuang did you by any chance initialize a UITableViewController in the EZSwipeController? I opened a similar issue because I have an array of objects (n) that sorts out which UITableViewController to show. But is it even possible to initialize multiple, and unknown numbers of UITableViewControllers in this???

[2016-12-27 08:25] Esqarrouth commented on #46
yes, you can do any uiviewcontroller subclasses

[2016-12-27 08:27] HackShitUp commented on #46
OMG YES, how would I be able to do that? My problem is a little unique though. So I have an array of objects (undetermined number, n) that is appended. Then, in viewDidLoad of the parent view controller for EZSwipeController, I loop through the objects to determine which view controller is appended. I got it to work, but it crashes because of something with the navigation bars.

[2016-12-27 08:27] HackShitUp commented on #46
@goktugyil

[2016-12-27 08:56] HackShitUp commented on #46
Oh fuck never mind, it works!!!
Thank you!
@goktugyil

[2016-12-27 19:50] #46 closed

[2016-12-27 22:49] HackShitUp opened #47 "Question: Return correct view controllers?"
How do I return the correct view controllers? Here's my code that loops through the objects:

`
// Loop through objects to determine which view controller to show
   for postObject in stackObjects {

            print("***STACKOBJECTS:***\(stackObjects)\n****")

            if postObject.value(forKey: "contentType") as! String == "tp" {
                // I) TEXT POST
                textPostObjec

[2016-12-28 03:06] HackShitUp commented on #47
Also, this is in the following function:
`    func viewControllerData() -> [UIViewController] {
}`

The UITableViewControllers DO return, but not the correct ones. I took another look and found out that it only fetches 7 view controllers? I suspect it might be because of the setupViewController function in EZSwipeController, but I'm not sure yet. Also, the sizing constraints are very off - the UIN

[2016-12-31 22:18] HackShitUp commented on #47
bump because I need help

[2017-01-01 01:56] HackShitUp opened #48 "Navigating between N number of UITableViewControllers"
I love this framework, but I'm having difficulty implementing this into my application the way I want it too. I append an array of PFObjects to a subclassed EZSwipController called Timeline. I'm able to return the view controllers, but they're NOT in the correct order:

`
        // Loop through objects to determine which view controller to show
        for postObject in timelineObjects {

[2017-01-01 07:56] #48 closed

[2017-01-01 07:56] #47 closed

[2017-01-02 20:36] HackShitUp opened #49 "UITableViewController Initialization Constraints"
There's an issue with the constraints for UITableViewControllers initialized in EZSwipeController. The  UINavigationBar seems to cover parts of the top view. ALSO, the scrolling conflicts with the UIPageViewController navigation. For instance, if the UITableViewCell in the UITableViewController exceeds the height of the view, the scroll is disabled in the UITableViewController disabling me to scro

[2017-01-02 20:37] HackShitUp commented on #49
@JFKingsley

[2017-01-13 19:41] amannayak0007 opened #50 "Adding UITabBarController as subview of scrollview"
Need help while adding tabbarcontroller as a subview of scrollview.

Tabbar not switching the views when clicked on tabs after adding it to the scrollview.

When I initialise the storyboard  from uitabbarcontroller, tabs works fine.

I want to create a instagram like UI where is scrollview contains camera, tabbarcontroller, viewcontroller as a subview of scrollview.

[2017-01-16 00:08] HackShitUp opened #51 "Horizontal AND vertical swipe?"
I have 3 view controllers, but I'd like the second one to be able to swipe down to another view controller. How would I implement this?

[2017-02-01 19:33] fatmaakcay commented on #51
You can probably take some clues from this project. https://github.com/jakespracher/Snapchat-Swipe-View

[2017-02-14 00:43] hmalc-zz commented on #49
For the NavigationViewController, the EZSwipeView and all ViewControllers in [ViewControllers] set `self.pageViewController.automaticallyAdjustsScrollViewInsets = false` to fix the issue with incorrect navbar layouts.

Easier to do in storyboard under attributes>layout>Adjust scroll view insets

[2017-02-23 15:37] AlexHmelevskiAG opened #52 "Possible Retain Cycle"
Hi,correct me if i'm wrong but there is a possible retain cycle. Datasource is declared as a strong reference.
[code]

From your example you expect users to do next:
[code]

in this case it'll prevent the controller to be released. Maybe to avoid it probably it's better to define it as weak:
[code]

I noticed it in the one of the projects i'm working on. I can make a PR if it's needed

[2017-02-23 15:41] #52 closed

[2017-02-24 19:08] Esqarrouth commented on #52
Yes please make a pr

[2017-03-01 20:02] mrigdon opened #54 "The Navigation Bar overlaps the status bar by default"
Here's my code:

[code]

pretty much exactly how it's done in the readme, but here's what I get:

![simulator screen shot mar 1 2017 12 01 46 pm](https://cloud.githubusercontent.com/assets/7377110/23478667/e293703e-fe76-11e6-8bb9-72878308ba98.png)

As you can see the either the navigation bar is too small or it's overlapping with the status bar.

[2017-03-05 18:53] tylerswartz opened #55 "Add hint animation of other views"
Hi There - Do you have a recommendation on the best way to add a hint animation that there are other views for the user to swipe to? On the initial load of my app I'd like the app to slightly open the left or right view and have it snap back to the main view. I've had a number of beta users tell me they didn't realize they could swipe left to view more pages.

[2017-03-06 07:24] Esqarrouth commented on #55
An overlay showing to swipe? The buttons at right left corners? You could manually change the screen when it starts maybe they'll get how to swipe?

[2017-03-09 16:23] otymartin commented on #7
@gabrieloliva @cafuni
I did this
[code]

then in `viewDidLoad`
[code]

[2017-03-10 06:28] Tinyik opened #56 "Breaks "Swipe right to return" functionality"
Hi,
I'm using navigationController.push(EZSwipeController) to push a new EZSwipeController into navigation stack, but it seems to break iOS's swipe right to return.

[2017-03-10 14:47] Esqarrouth commented on #56
That should be disabled somewhere in the code.

[2017-03-15 06:11] patthehuman commented on #54
Any update on this? I'm having the same issue

[2017-03-29 17:42] markmark1 opened #57 "is there an objective-c version"
is there an objective-c version

[2017-04-02 12:24] Esqarrouth commented on #57
no

[2017-04-03 17:45] joshoconnor89 commented on #56
How do we fix this?  Im experiencing the same issue.  Im trying to use the  `gestureRecognizer(_ gestureRecognizer: UIGestureRecognizer, shouldRequireFailureOf otherGestureRecognizer: `delegate method with no success

[2017-04-03 17:55] joshoconnor89 commented on #56
func gestureRecognizer(_ gestureRecognizer: UIGestureRecognizer, shouldRecognizeSimultaneouslyWith otherGestureRecognizer: UIGestureRecognizer) -> Bool {
        return true
    }

Place this in your VC which contains your EZSwipeVC and it should work.

I also added the following to prevent the SwipeVC from bouncing horizontally when it is on the first or last page index, not sure if this helps:

[2017-04-03 17:56] joshoconnor89 commented on #56
I apologize for the terrible markup, git isnt allowing me to place a nice code sample :/

[2017-04-11 21:49] darraghmckay commented on #54
No update on this? I'm experiencing the same thing. It only occurred after I updated my pods

[2017-04-17 10:49] Tinyik opened #58 "moveToPage implementation incorrect"
`class FeaturedSwipeViewController: EZSwipeController, UIGestureRecognizerDelegate {

    let seg = UISegmentedControl(items: ["1", "2"])

    var advisor: Advisor!

    override func setupView() {
        super.setupView()
        datasource = self
        navigationBarShouldNotExist = true
    }

    override func viewDidLoad() {
        super.viewDidLoad()
        seg.selectedSegmentIndex = 0

[2017-04-28 17:49] joshoconnor89 opened #60 "linker command failed with exit code 1"
The pull request you merged 7 days ago (from bryant1410), caused some problems for me.  Im using Cocoapods and NeverCode (to push my test builds to HockeyApp), and everytime NeverCode compiled the source code, it would return a 'Undefined symbols for architecture arm64', followed by 'linker command failed with exit code 1'.

If anyone experiences this, remove EZSwipeController from CocoaPods and d

[2017-06-12 17:43] mzrzvi commented on #54
yup happening for me too 👎

[2017-06-13 09:19] Kleemann commented on #54
There is a property called `public static let navigationBarHeight: CGFloat = 44`

You can change that if you installed the library manually or maybe by subclassing EZSwipeController.

[2017-07-01 01:10] patthehuman opened #62 "tableview inside swipe controller?"
I have a tableview inside of a swipe controller, but i can't seem to swipe when im swiping on the cells. if i swipe in the section header it allows me to swipe.

[2017-07-25 17:05] Jmandarino opened #63 "calling moveToPage from another View Controller"
When I try to call moveToPage form another class it fails on this line:

` let currentIndex = stackPageVC.index(of: currentStackVC)!`

with the error:

`fatal error: unexpectedly found nil while unwrapping an Optional value`

here is my code:

[code]

[code]

[2017-09-02 19:42] San-Jeevan opened #64 "it crashes on swift 3"
trying to run on my ios 10

    private func setupViewControllers() {
        stackPageVC = [UIViewController]()
        stackVC.enumerated().forEach { index, viewController in
            let pageViewController = UIViewController()
            if !navigationBarShouldBeOnBottom && !navigationBarShouldNotExist {
                viewController.view.frame.origin.y += Constants.navigationBarHeight

[2017-09-02 19:54] San-Jeevan commented on #64
iOS 10.2.1 iphone 6s

[2017-09-02 20:46] San-Jeevan commented on #64
close this. my fault. this plugin works fine

[2017-09-02 20:46] #64 closed

[2017-09-10 18:19] patthehuman commented on #63
You can't do that because setupView hasn't been called on the instantiated view controller.

You need to call vc.goRight() after you set your datasource.

[2017-10-19 20:56] joshoconnor89 commented on #56
This solution above works, but there is one more thing you have to do if you are using a UINavigationController.  All you have to do is subclass the UINavigationController and use this custom class as your navigation controller.

`
class CustomNavigationController: UINavigationController, UIGestureRecognizerDelegate, UINavigationControllerDelegate {

        override func viewDidLoad() {

[2017-10-22 18:50] jaksatomovic commented on #63
so what is the solution here?

[2017-10-24 14:01] Jmandarino commented on #63
@jaksatomovic I put this project on the back burner. I will check to see if this solves the problem in the next week

Edit: looked at this issue. I am still not sure of the solution. My goal is to reference the view controller and my method seems to be creating an entirely new reference of the "ViewController" class.

I tried modifing the view controller where the button is pressed:

[code]

Howev

[2017-11-13 06:36] lohithkorp commented on #54
Any update on this? @Kleemann : changing 44 doesn't fix this issue on ios11. I have already tried that. Any other workaround/suggestion?

[2017-11-28 06:51] lohithkorp opened #65 "Swift 4 support"
Is there any plan to provide Swift 4 support yet?

[2017-11-28 09:20] Esqarrouth commented on #65
Feel free to send a pull request about this.

My project is Swift 4 but all my pods are Swift 3 and its working perfectly. You could setup pods to use Swift3 specifically.

[2018-06-26 11:13] aksh1995a opened #66 "calling move to page from anywhere produces error"
//ScrollViewController has two vc red vc and blue vc

      func movetopage(){
         self.moveToPage(1, animated: true)
       }

//inside datasource

      func viewControllerData() -> [UIViewController] {
        return [redvc, blueVC]
      }

tried calling the function from child vc

Thread 1: Fatal error: Unexpectedly found nil while unwrapping an Optional value

        public func moveTo

[2018-06-28 09:04] aksh1995a commented on #66
class ScrollViewController: EZSwipeController,EZSwipeControllerDataSource {
   // let array = [SignUpViewController(),SignInViewController()]

    override func setupView() {
        datasource = self
        self.moveToPage(1, animated: true)
}

[2018-06-28 09:13] #66 closed

[2019-04-13 18:11] sarbogast commented on #54
Same problem here. Did anybody find a solution?

[2020-08-23 03:35] mahen3d commented on #65
Can we have swift 5 support, this repo is so outdated,